
<%- include('partials/header'); -%>

<h1>Home</h1>
<p><%= homeContent %></p>
<!--<br>
<h1>Blogs</h1>
<br>-->

<form action="/compose" method = "get" class = "mt-1">
  <button type = "submit" class = "buttonStyle">+</button>
</form>
<% Posts.forEach(function(post){ %>
  <h1> <%= post.title %> </h1>
  <p> 
    <%= post.content.substring(0,100) + "..." %> 
    <a href="/posts/<%= post.title %>">Read More</a>
    <form action="/delete" method="post">
      <button type = "submit" name = "postId" class = "inButton" value = "<%= post._id%>">Delete</button>
    </form>
  </p>
  
  <%});%>
  
<!--btn btn-info display-4-->